@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');
.risque{
    font-family: risque;
}
body{
    background: url("../assets/APIBgImg.png");

}
.searchContainer{
    margin-top: 5rem;
}
.searchBtn{
    background-color: #FFF9C8;
}
.displayCity{
    font-size: 100px;
    color: white;
    text-shadow: 10px, 10px;
}
.cardBg{
    background-color: #B6EDFF;
    opacity: 90%;
    border-radius: 30px;
    margin: 10px;
}
.iconSize{
    width: 95%;
}
.star{
    width: 20%
}